h1{
    margin-bottom: 50px;
    text-align: center;
    margin-top: 80px;
    color: blueviolet;
}
.auth-toggle-link{
    margin-top: 20px;
    color: blueviolet;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
}
p{
    color: red;
    text-align: center;
}