h1{
    margin-bottom: 50px;
    text-align: center;
    margin-top: 80px;
    color: blueviolet;
}
.common-form{
    a{
        color: blueviolet;
        cursor: pointer;
    }
    .error{
        color: red;
    }
    
}